.bookdet{
    box-shadow: 20px 20px 20px #a09e9e;
    border-radius: 20px;
    border: 1px solid #ffdedf;
}
.span-color{
    color: #000000;
    font-weight: 900;
}
.bookcard{
    box-shadow: 10px 20px 30px #d8d6d6;
}